body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(15, 13, 13);
  color: #fff;
 width: 100%;
}
.userimage{
  width: 20%;
}
.userimage img{
  width: 100%;
  height: auto;
  padding-top: 2%;
  border-style: solid;
  border-color: #fff;

}